extends _base.pug

block title
	+title('Could not find that...')

block nav

block preload 

block main
	main#error404
		h3 I couldn't find that
		
		a.poster-content.flood(href="/")
			figure##not-found(role="figure").
				<svg id="filters" class="hide">
					<defs>
						<filter id="filter-threshold">
							<feColorMatrix in="SourceGraphic"
								type="matrix"
								values="1 0 0 0 0
										0 1 0 0 0
										0 0 1 0 0
										0 0 0 255 -140" />
						</filter>
					</defs>
				</svg>
				
				<svg class="poster-wallpaper" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="9000" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="1.5" class="flood" clip-rule="evenodd" viewBox="0 0 9000 2160">
					<path d="M3438.07 2160h-946.6l1443.62-808.29L3438.07 2160" style="fill:currentColor;stroke:var(--stroke,black);stroke-width:1px"/>
					<path d="M3438.07 2160h-946.6l1443.62-808.29L3438.07 2160" style="fill:currentColor;stroke:var(--stroke,black);stroke-width:1px" transform="rotate(180 4484.315 1078.38)"/>
					<path d="M0 1699.83V598.155l1223.16 549.075L0 1699.83Z" style="fill:currentColor;stroke:var(--stroke,black);stroke-width:1px" transform="matrix(-3.1051 0 0 -1.22375 8999.98 2363.34)"/>
					<path d="m2491.47 0 981.39-3.245 571.38 1273.195L2491.47 0Z" style="fill:currentColor;stroke:var(--stroke,black);stroke-width:1px" transform="rotate(180 4484.315 1078.38)"/>
					<path d="M0 1699.83V598.155l1223.16 549.075L0 1699.83Z" style="fill:currentColor;stroke:var(--stroke,black);stroke-width:1px" transform="matrix(3.1051 0 0 1.22375 -31.35 -206.576)"/>
					<path d="m2491.47 0 981.39-3.245 571.38 1273.195L2491.47 0Z" style="fill:currentColor;stroke:var(--stroke,black);stroke-width:1px" />
				</svg>

				<svg class="poster-details" 
					xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
					xml:space="preserve" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"
					stroke-miterlimit="1.5" clip-rule="evenodd" width="1313" hieght="2160" viewBox="0 0 1313 2160">

					<title>{{title}}</title>

					<!-- Background -->
					<path class="poster-bg" d="M1312.72,52.508c0,-28.98,-23.533,-52.508,-52.51,-52.508h-1207.7c-28.981,0,-52.511,23.528,-52.511,52.508v2054.99c0,28.977,23.53,52.508,52.51,52.508h1207.7c28.976,0,52.509,-23.531,52.509,-52.508v-2054.99z" />
				
					<!-- Eyes -->
					<ellipse fill="currentColor" class="eye left-eye" cx="851.651" cy="833.592" rx="132.017" ry="318.098" transform="matrix(.69464 0 0 .698 -117.855 -115.526)" />
					<g class="right eye">
						<defs>
							<path id="eye-line" 
								fill="currentColor" 
								stroke="currentColor" 
								stroke-width="131.64"
								d="m1821.03 876.34 243.92-164.707" />
						</defs>
						<use xlink:href="#eye-line" stroke-width="131.64" transform="matrix(.69464 0 0 .698 -488.473 -139.24)" />
						<use xlink:href="#eye-line" stroke-width="131.4" transform="scale(.69465 .698) rotate(64.03 1628.963 214.242)" />
						<use xlink:href="#eye-line" stroke-width="131.35" transform="matrix(.57569 .39061 -.38874 .57846 68.82 -745.804)" />
					</g>

					<path 
						fill="currentColor"
						class="mouth"
						d="M1236.22 802.544c0-17.28-13.954-31.3-31.163-31.3h-1097.4c-17.21 0-31.163 14.02-31.163 31.3 0 321.582 259.824 582.66 579.863 582.66 320.039 0 579.863-261.078 579.863-582.66Zm-534.286 142.43c-4.017-7.373-8.23-31.432-8.296-35.812-.013-.435-.013-.87-.013-1.319 0-37.487 22.854-70.344 54.504-70.344.288 0 .564 0 .84.013 66.37 1.398 162.96 126.588 162.96 232.27 0 137.523-114.521 249.166-255.572 249.166-141.05 0-255.572-111.643-255.572-249.166 0-105.682 77.516-230.463 162.96-232.27.276-.013.552-.013.84-.013 31.65 0 54.504 32.857 54.504 70.344 0 .436 0 .87-.013 1.32-.066 4.392-4.28 28.438-8.283 35.811-9.334 17.174-25.06 36.92-25.31 37.184-15.003 16.053-31.701 31.327-44.763 48.475-16.934 22.226-28.341 47.3-28.341 78.456 0 81.78 64.52 148.168 143.978 148.168 79.458 0 143.965-66.387 143.965-148.168 0-31.604-11.25-55.61-28.263-77.427-12.602-16.159-28.958-30.958-44.264-48.594-.985-1.174-14.755-17.635-25.86-38.094Z" />

					<!-- text -->
					<g class="poster-text">
						<!-- INSTANT -->
						<g>
							<text x="655.385" y="636.188" font-size="170.833"
								transform="matrix(.30443 -.72253 .71876 .3063 -443.978 609.644)">I</text>
							<text x="676.563" y="599.824" font-size="170.833"
								transform="matrix(.46334 -.6314 .62817 .46604 -468.854 446.753)">N</text>
							<text x="766.379" y="528.319" font-size="170.833"
								transform="matrix(.63785 -.45214 .44992 .64143 -451.86 234.3)">S</text>
							<text x="849.666" y="495.624" font-size="170.833"
								transform="matrix(.74133 -.24546 .24438 .7454 -420.137 24.104)">T</text>
							<text x="943.326" y="487.841" font-size="170.833"
								transform="matrix(.78057 -.00094 .0012 .78477 -337.006 -221.882)">A</text>
							<text x="1044" y="511.839" font-size="170.833"
								transform="matrix(.73451 .26582 -.26416 .73838 -150.965 -497.62)">N</text>
							<text x="1138.2" y="577.337" font-size="170.833"
								transform="matrix(.61687 .48106 -.47828 .62004 138.926 -717.16)">T</text>
						</g>    

						<text x="690.356" y="2870.18" font-size="491.988"
							transform="matrix(.24145 0 0 .24261 566.845 -463.167)">MUSICAL</text>

						<!-- <circle  fill="pink"    cx="656.5" cy="-278" r="2400"></circle> -->
						<path id="subheadline-circle-upper" 
							fill="none"
							d="M3056.5-278a2400 2400 0 10-4800 0 2400 2400 0 104800 0" />

						<!-- <circle fill="green" cx="656.5" cy="30" r="2000"></circle> -->
						<path id="subheadline-circle-lower" fill="none"
							d="M2656.5 30a2000 2000 0 10-4000 0 2000 2000 0 104000 0" />

						<!-- <circle fill="yellow" cx="656.5" cy="403" r="1400"></circle> -->
						<path id="headline-circle-upper" fill="none"
							d="M2056.5 403a1400 1400 0 10-2800 0 1400 1400 0 102800 0" />

						<!-- <circle fill="blue" cx="656.5" cy="550" r="1050"></circle> -->
						<path 
							id="headline-circle-lower" 
							fill="none"
							d="M1706.5 550a1050 1050 0 10-2100 0 1050 1050 0 102100 0" />

						<text textLength="55%">
							<textPath 
								class="poster-text-h1"
								font-size="200" 
								alignment-baseline="bottom" 
								xlink:href="#headline-circle-lower" 
								startOffset="70%"
								textLength="55%">SUPER</textPath>
						</text>

						<text textLength="94%">
							<textPath 
								class="poster-text-h2"
								font-size="280" 
								alignment-baseline="bottom" 
								xlink:href="#headline-circle-upper" 
								startOffset="68.5%"
								textLength="94%">POWERS</textPath>
						</text>

						<text textLength="70%">
							<textPath
								class="poster-text-h3"
								font-size="90" 
								alignment-baseline="bottom" 
								xlink:href="#subheadline-circle-lower"
								startOffset="70.25%"
								textLength="90%">YO YO YO</textPath>
							<!-- <textPath
								class="poster-text-h3"
								font-size="90" 
								alignment-baseline="bottom" 
								xlink:href="#subheadline-circle-lower"
								startOffset="70.25%"
								textLength="90%">WITNESS THE FITNESS</textPath> -->
							</text>

						<text textLength="1205">
							<textPath 
								class="poster-text-h4"
								font-size="84" 
								xlink:href="#subheadline-circle-upper" 
								alignment-baseline="bottom" 
								startOffset="71%" 
								textLength="1205">• {{{posterTaglines[0]}}} •</textPath>
						</text>
					</g>

				</svg>

				.poster-overlay.overlaid-notes(inert, aria-hidden="true")
					i.note-animated.active(aria-hidden="true")
					i.note-animated.active(aria-hidden="true")
					i.note-animated.active(aria-hidden="true")
					i.note-animated.active(aria-hidden="true")
					i.note-animated.active(aria-hidden="true")
					i.note-animated.active(aria-hidden="true")
					i.note-animated.active(aria-hidden="true")
					i.note-animated.active(aria-hidden="true")
					i.note-animated.active(aria-hidden="true")
					i.note-animated.active(aria-hidden="true")
				
				p.poster-instructions Click to Learn more!
				
				figcaption.sr-only Instant Musical Superpowers, for you and your friends!

		nav(hidden)    
			a(href="/") Learn about the tech and science
			a(href="https://photosynth.app" target="_blank") Play with the software


block styles
	style(type="text/scss")
		$end:12;
		:root {
			color-scheme: light dark;

			--poster-text:oklch(96.436% 0.00859 16.604);
			--poster-bg: oklch(14.946% 0.04069 23.375);
			--poster-stroke: oklch(14.946% 0.04069 23.375);

			--duration:1s;
			--overlap:0.25;
		}

		.poster-content{

			text{
				pointer-events: none;
			}

			textPath{
				transition: opacity 1s linear;
			}
			
			&:hover, &:focus-within{
				
			}
				
			/* Swap out text if there are multiple ones */
			text:has(textPath:nth-of-type(2)){
				textPath:nth-of-type(2){
					display: none;
					opacity: 0;
				}
			}
	}

	/*    
		.poster-bg:hover,  
		.poster-bg:focus-within{
			~ .poster-text text textPath:nth-of-type(1){
				animation: HideText var(--duration, 1s) linear var(--delay, 0s) 1 both;
			}
			~ .poster-text text textPath:nth-of-type(2){
				animation: RevealText var(--duration, 1s) linear var(--delay, 0s) 1 both;
			}
		}
		*/
		#poster-figure{
			
			color:var(--poster-text);    
			fill:var(--col-accent);

			display: grid;
			place-items: center;
			max-height: 100vh;
			max-height: 100dvh;
			box-sizing: border-box;
			margin:0;
			padding:0;

			animation:TextColor 10s linear infinite;
			position: relative;
			
			> *{
				grid-area: 1 / 1;
				height:100%;
				color: inherit;
			}
		
			.poster-bg{
				fill:var(--poster-text);
				opacity: 0.1;
				/* z-index:1;
				fill:color-mix( var(--poster-bg), transparent 50% ); */
			}

			.poster-content{
				padding: 3%;
			}

			.poster-wallpaper{

				--duration:1s;
				--overlap:0.87;
			
				color:var(--poster-text);
				color:color-mix( var(--poster-text), transparent );
				background-color: var(--poster-bg);
			
				max-width: none;
				width: auto;
				height: 100vh;
				max-height: 100vh;
				
				object-fit: fill;
				transform: translateX(-50%);
				position: absolute;
				left: 50%;
				z-index:-1;
				top:0;

				> *{
					--delay:calc( -1 * var(--i) * var(--overlap, 1) * var(--duration, 1s) );
					
					@for $i from 0 to 7 {
						&:nth-child(#{$i}){
							--i:#{$i};
						}
					}
						
					stroke: var(--poster-stroke);
					animation: 
						Shouting var(--duration, 1s) ease-in-out var(--delay, 0s) infinite both alternate-reverse,
						RainbowColor calc( 3 * var(--duration, 1s)) linear var(--delay, 0s) infinite both;
				}
			}

			.poster-details{
				max-height: 100vh;
			}

			.poster-text{
				filter: url(#filter-threshold) blur(0.6px);
				/* filter:blur(20px) contrast(30); */
				
				> *:is(g,text){
					--fraction:2;
					--rate:8;
					--y:3%;

					--blur:min( 1px * var(--rate) / var(--fraction) - var(--rate), 100px);
					/* --opacity:`${Math.pow(fraction, 0.4) * 100}%; */
					/* filter : blur( var(--blur,0px) ); */
					/* opacity : 1; */
					/* filter:blur(20px) contrast(30); */

					--delay:calc( var(--i, 0) * var(--overlap, 1) * var(--duration, 1s) );
					/* --delay:calc( var(--delay-offset, var(--offset,0)) + var(--i, 1) * var(--overlap, 1) * var(--duration, 1s) ); */
					
					font-family: 'Oxanium', 'ReadexPro', 'Proxima Nova', var(--font-family-metropolis), sans-serif;
					font-weight:700; 
					fill:currentColor;

					/* animation: FadeTo var(--duration, 1s) linear var(--delay, 0s) 1 both;
					transition: opacity 42ms, transform 42ms;
					transition-delay: var(--delay, 0s),  var(--delay, 0s); */
					
					/*    
					animation: Unblur var(--duration, 1s) linear var(--delay, 0s) 1 both;
					animation: 
						Unblur var(--duration, 1s) linear var(--delay, 0s) 1 both,
						AppearText var(--duration, 1s) ease-out calc( 2 * var(--delay, 0s)) 1 both; */

					@for $i from 0 to $end {
						&:nth-of-type(#{$i}){
							--i:#{$i};
						}
					}
				}
			}

			.poster-overlay{
				z-index:3;
				position: relative;
			}
				
			.mouth{
				transform-origin: 50%;
				animation:Mouth 9s ease-out 0s infinite both;
			}

			.poster-instructions{
				--y:11px;
				position: absolute;
				bottom:9%;
				background-color:var(--poster-text);
				color:var(--poster-bg);
				height: fit-content;
				border-radius: 11px;
				padding:20px;
				animation: 
					Fade 1s linear 3.5s 1 both,
					Translate 0.4s ease-out 3.5s 1 both;
			}

			.note-animated.active {
				&::before{
					/* animation: Notation var(--duration) var(--delay,0s) var(--offset-variatons) linear; */
					animation-iteration-count: infinite, infinite;
				}
				animation-iteration-count: infinite, infinite;
			}
		}
		

		@media (prefers-color-scheme: dark) {
			#poster-figure{
				--poster-text: oklch(96.436% 0.00859 16.604);
				--poster-bg: oklch(14.946% 0.04069 23.375);
			}
		}

		@keyframes Shouting {
			0%{
				filter:blur(120px);
			}
			100%{
				filter:blur(50px);
				
			}
		}
		@keyframes Unblur {
			from{
				filter:blur(120px);
			}
		}
		@keyframes Fade {
			from{
				opacity:0;
			}
		}
		@keyframes Translate {
			from{
				transform:translate( var(--x,0), var(--y,0) );
			}
		}
		@keyframes RainbowColor {
			0%{
				color:hsl(0, 96%, 51%);
			}
			33%{
				color:hsl(120, 96%, 51%);
			}
			66%{
				color:hsl(240, 96%, 51%);
			}
			100%{
				color:hsl(360, 96%, 51%);
			}
		}
		
		@keyframes TextColor {
			0%{
				color:hsl(0, 96%, 51%);
			}
			100%{
				color:hsl(360, 96%, 51%);
			}
		}
		
		@keyframes AppearText {
			0%{
				transform: translateY( var(--y,0) ) scale( var(--scale,1) );
				opacity: 0.2;
			}
			
			100%{
				transform: translateY(0) scale( var(--scale,1) );
				opacity: 1;
			}
		}
		/* @keyframes RevealText {
			0%{
				opacity: 0;
				display: block;
			}
			
			100%{
				opacity: 1;
			}
		}
		@keyframes HideText {
			0%{
				opacity: 1;
			}
			
			99%{
				opacity: 0;
			}
			100%{
				opacity: 0;
				display: none;
			}
		} */
		@keyframes Mouth {
			0%{
				transform: scale(0.9);
			}
			5%{
				transform: scale(1);
			}
			100%{
				transform: scale(0.9);
			}
		}
	</style>

block scripts
	script.
		const e = document.getElementById("poster-figure")
		
		e.querySelectorAll(".note-animated").forEach( (el, index) => {
			el.style.setProperty("--delay", `${index * 0.2}s`)
			el.style.setProperty("--col-accent", `hsla( ${ Math.random() * 360 }%, 0.5, 0.5, 0.5 )`)
		})

		const HEADINGS = [ 
			"Super|Powers" 
		]
		const h1 = document.querySelector(".poster-text-h1")
		const h2 = document.querySelector(".poster-text-h2")

		const h3 = document.querySelector(".poster-text-h3")
		const h4 = document.querySelector(".poster-text-h4")

		// 6 chars max
		const H1S = [
			"SUPER"
		]

		// 7 chars max
		const H2S = [
			"POWERS"
		]
		
		const HEADINGS_SPLIT = HEADINGS.map( h =>{
			const parts = h.split("|")
			H1S.push(parts[0])
			H2S.push(parts[1])
			return parts
		} )

		// 
		const H3S = [ 'FOR YOU AND YOUR FRIENDS!' ]
		const H4S = [ 'SMILE POWERED SYNTHESIZER' ]

		const revealText = (textElement, header, index=0, delay=0, durationIn=606, durationOut=909, durationPause=4000 ) => {

			let interval = -1

			// cancel any previous 
			clearInterval(interval)

			// as the element is already hidden, we can set the text
			textElement.textContent = header[index]

			const transitionOut = () => {
				const animationOut = textElement.animate(
					[
						// FROM
						{ 
							filter: "blur(0px)",
							opacity:1
						},
						// TO
						{ 
							filter: "blur(120px)",
							opacity:0
						}
					],
					{
						duration: durationOut,
						iterations: 1,
						delay
					}
				)

				animationOut.onfinish = () => {
					index = (1+index) % header.length
					revealText( textElement, header, index, durationIn, durationOut )
				}
			}
		
			// we can change any of the text
			const animationIn = textElement.animate(
				[
					// FROM
					{ 
						filter: "blur(120px)",
						opacity:0
					},
					// TO
					{ 
						filter: "blur(0px)",
						opacity:1
					}
				],
				{
					duration: durationIn,
					iterations: 1,
				}
			)

			animationIn.onfinish = () => {
				clearInterval(interval)
				interval = setTimeout( transitionOut, durationPause )
			}     
		}

		revealText( h1, H1S, 0, 500 )
		revealText( h2, H2S, 0, 1000 )
		revealText( h3, H3S, 0, 1500 )
		revealText( h4, H4S, 0, 2000 )